<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Post Title" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "What working?" %><br>
    <%= f.text_area :worked %>
  </div>
  <div class="field">
    <%= f.label "What's not working?" %><br>
    <%= f.text_area :didnt %>
  </div>
  <div class="field">
    <%= f.label "What next?" %><br>
    <%= f.text_area :next %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
