<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>What's Working?</strong>
  <%= @post.worked %>
</p>

<p>
  <strong>What's not working?</strong>
  <%= @post.didnt %>
</p>

<p>
  <strong>What next?</strong>
  <%= @post.next %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
