<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary page-header">
		<div class="panel-body">
			<h2>
			  <strong>Title:</strong>
			  <%= @post.title %>
			</h2>
		</div>	
	</div>	
			<div class="panel panel-default">
				<div class="panel-heading">		
					  <strong><h3 class="panel-title">What's Working?</h3></strong>
				</div>
				<div class="panel-body"> 
				  <%= @post.worked %>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">		
					  <strong><h3 class="panel-title">What's Not Working?</h3></strong>
				</div>
				<div class="panel-body"> 
				  <%= @post.didnt %>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">		
					  <strong><h3 class="panel-title">What's Next?</h3></strong>
				</div>
				<div class="panel-body"> 
				  <%= @post.next %>
				</div>
			</div>
	</div>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
